header {
    @include flex(column);

    background-color: $fondoGris;
    color: $fuenteBlanco;
    height: 50vh;
    font-size: 2em;

    span {
        color: $nombreResaltado;
        font-size: 1.5em;
    }
}